<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Update User</title></head>
<body>

<h2>Edit User</h2>

<form th:action="@{'/users/edit/' + ${user.id}}" method="post" th:object="${user}">
    <label>Username:</label>
    <input type="text" th:field="*{username}" required><br><br>

    <label>DOB:</label>
    <input type="date" th:field="*{dob}" required><br><br>

    <label>New Password (leave blank to keep current):</label>
    <input type="password" th:field="*{password}"><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a th:href="@{/users}">Back to User List</a>

</body>
</html>
